*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: cyan;
    padding: 10px;
}
header ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
}
header li{
    text-transform: capitalize;
}
header li:hover{
    cursor: pointer;
}
